.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


*{
  padding: 0px;
  margin: 0px;
}
.App{
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/bgimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
